<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<parameter name="url" value="http://127.0.0.1:8081"/>
  <parameter name="uname" value="admin"/>
  <parameter name="pwd" value="admin"/>
 
    <test thread-count="5" name="TestGurukula">  
    <classes>
    <class name="com.staff.UserLogin">
    <parameter name="brName" value="Cochin"/>
    <parameter name="code" value="COK"/>
    </class>
     
   <class name="com.staff.AddNewBranch">
    <parameter name="brName" value="Amsterdam"/>
    <parameter name="code" value="AMS"/>
    <parameter name="brName1" value="Dubai"/>
    <parameter name="code1" value="DXB"/>
    <parameter name="brName2" value="London"/>
    <parameter name="code2" value="LON"/>
    <parameter name="brName3" value="Cochin"/>
    <parameter name="code3" value="COK"/>
    </class>
     
   <class name="com.staff.ViewBranch">
    </class>
   
    <class name="com.staff.EditBranch">
    <parameter name="shortbrName" value="Coc"/>
    <parameter name="brName" value="Cochin"/>
    <parameter name="code" value="COK"/>
    </class>
    
     <class name="com.staff.SearchBranch">
    <parameter name="branchName" value="LN"/>
    </class>
    
    <class name="com.staff.DeleteBranch">
    </class> 
     
    <class name="com.staff.AddNewStaff">
    <parameter name="staffName" value="Sree"/>
    <parameter name="index" value="1"/>
    <parameter name="staffName1" value="devi"/>
    <parameter name="index1" value="2"/>
    <parameter name="staffName2" value="Sreedevi"/>
    <parameter name="index2" value="1"/>
    <parameter name="staffName3" value="SP"/>
    <parameter name="index3" value="3"/>
    </class> 
    
     <class name="com.staff.ViewStaff">
     </class>
     
    <class name="com.staff.EditStaff">
    <parameter name="staffName" value="Sreedevi"/>
    <parameter name="index" value="0"/>
    </class> 
    
     <class name="com.staff.SearchStaff">
    <parameter name="staffName" value="sp"/>
    </class>
    
    <class name="com.staff.DeleteStaff">
     </class>
    
  </classes>
  </test> 
  
  <test thread-count="5" name="NewUser">  
  <classes>
    <class name="com.staff.NewUserRegistration">
    <parameter name="loginId" value="sree"/>
    <parameter name="emailId" value="sreedevi_pratap@yahoo.com"/>
    <parameter name="pwd" value="sreed"/>
    
   <parameter name="loginId1" value=" "/>
    <parameter name="emailId1" value="sreeom"/>
    <parameter name="pwd1" value="sreed"/>
    </class>
   </classes>
 </test> 
 
   
 
 
<test thread-count="5" name="LoginLogout">
     <classes>
     <class name="com.staff.UserLogout"/>
     </classes>

</test>
  <!-- Test -->
</suite> <!-- Suite -->
